<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACB-vg6FRhEJcpKJi7K2QIUoA8PXZ7xjs</string>
	<key>GCM_SENDER_ID</key>
	<string>344973584558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunhao.fast-rent</string>
	<key>PROJECT_ID</key>
	<string>fast-rent-1276b</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-rent-1276b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344973584558:ios:85df3ae8cbc9dc2876253f</string>
</dict>
</plist>